@model List<ChefGetVM>
<div class="container">
	<div class="row">

        <div class="row">
            <a asp-action="Create" class="btn btn-success">Create</a>
        </div>

        <table class="table table-striped">
            <thead>
                <tr>
                    <th scope="col"> Id</th>
                    <th scope="col"> Name</th>
                    <th scope="col"> Image</th>
                    <th scope="col"> PositionName</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var chefs in Model)
                {
                    <tr>
                        <th scope="row">@chefs.Id</th>
                        <td>@chefs.Name</td>
                        <td> <img src="~/images/@chefs.ImagePath" alt="Alternate Text" /></td>
                        <td>@chefs.PositionTitle</td>
                        <td>
                            <a asp-action="Update" asp-controller="Chef" asp-route-id="@chefs.Id" class="btn btn-warning">Update</a>
                            <a asp-action="Delete" asp-controller="Chef" asp-route-id="@chefs.Id" class="btn btn-danger">Delete</a>
                        </td>
                    </tr>
                   
                }

            </tbody>
        </table>
	</div>
</div>